<form action="/report/add" method="POST" enctype = "multipart/form-data">
    <table>
      <tr><td><label>Judul</label></td><td><input type="text" name="judul"></td></tr>
      <tr><td><label>Kronologi</label></td><td><input type="text" name="kronologi"></td></tr>
      <tr><td><label>Nomor WA</label></td><td><input type="text" name="nomor_wa"></td></tr>
      <tr><td><label>Foto</label></td><td><input type="file" name="foto"></td></tr>
      <tr><td><label>Waktu Bencana</label></td><td><input type="datetime-local" name="waktu_bencana"></td></tr>
      <tr><td><label>Latitute Longitute</label></td><td><input type="text" name="lat_long"></td></tr>
      <tr><td><input type="submit"></td></tr>
    </table>
</form>

